<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.ds.mapper.FileMapper">
	<insert id="createFile">
		INSERT INTO file(name, notice_id)
		VALUES (#{name}, #{notice_id})
	</insert>
	<select id="getFiles">
		SELECT * FROM file
		WHERE notice_id = #{id}
	</select>
</mapper>